{erl_opts, [debug_info]}.
{deps, [cowboy, jiffy]}.

{relx, [{release, {katarchy, "0.1.0"},
  [katarchy, sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
            }]
}.

% Don't warn about the following unused functions
% that will be used in the future.
{xref_ignores, [
    {katarchy_game, buy, 2},
    {katarchy_game, forge, 2},
    {katarchy_game, forge, 3},
    {katarchy_game, next_action, 1},
    {katarchy_game, raid, 3},
    {katarchy_game, start, 0},
    {katarchy_game, store, 3}
]}.
